{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Change Password</h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form_start(changePasswordForm) }}
                <div class="form-group mb-3">
                    {{ form_row(changePasswordForm.plainPassword.first, {'attr': {'class': 'form-control' ~ (form_errors(changePasswordForm.plainPassword.first) ? ' is-invalid' : '') }}) }}
                    {% if form_errors(changePasswordForm.plainPassword.first) %}
                        <div class="invalid-feedback">
                            {{ form_errors(changePasswordForm.plainPassword.first) }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group mb-3">
                    {{ form_row(changePasswordForm.plainPassword.second, {'attr': {'class': 'form-control' ~ (form_errors(changePasswordForm.plainPassword.second) ? ' is-invalid' : '') }}) }}
                    {% if form_errors(changePasswordForm.plainPassword.second) %}
                        <div class="invalid-feedback">
                            {{ form_errors(changePasswordForm.plainPassword.second) }}
                        </div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary w-100 mb-3">Change Password</button>
                {{ form_end(changePasswordForm) }}
            </div>
        </div>
    </div>
{% endblock %}