{% extends 'base.html.twig' %}

{% block title %}Events list{% endblock %}

{% block body %}
    <div class="row mt-4">
        <h1 class="col-8">Events list</h1>
        <div class="col-4 d-flex justify-content-end align-items-center">
            {% if app.user is null %}
                <p class="text-center mb-0">Please, log in to create an event !</p>
            {% else %}
                <a href="{{ path('app_event_new') }}" class="btn btn-success">
                    Create new
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            {{ form_start(form, {'attr': {'class': 'row g-3 needs-validation', 'novalidate': ''}}) }}

            <div class="col-md-4">
                {{ form_label(form.dateFrom, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.dateFrom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.dateFrom) }}
            </div>

            <div class="col-md-4">
                {{ form_label(form.public, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.public, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.public) }}
            </div>

            <div class="col-md-4">
                {{ form_label(form.title, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.title) }}
            </div>

            <div class="col-12 my-3 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

    {% if events|length %}
        {% for event in events %}
            {% include 'event/_event_card.html.twig' with {'event': event} %}
        {% endfor %}
    {% else %}
        <p class="text-start mt-4">No events.</p>
    {% endif %}


    <div>
        {% if events|length %}
            Page:
            <div class="btn-group ml-2">
                {% set currentPage = page %}
                {% for page in 1..maxPages %}
                    {% if page == currentPage %}
                        <a href="{{ path('app_event_index', {'page': page}) }}" class="btn btn-secondary">{{ page }}</a>
                    {% else %}
                        <a href="{{ path('app_event_index', {'page': page}) }}" class="btn btn-outline-secondary">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>


{% endblock %}
