<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ZEvents{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('styles/custom.scss') }}">
</head>
<body>
<nav class="navbar navbar-custom navbar-expand-lg navbar-light bg-light navbar-custom">

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
                <li>
                    <a class="navbar-brand" href="{{ path('home') }}">Home</a>
                </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_event_new') }}">Create event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_event_inscriptions') }}">Registration</a>
                </li>
            {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_event_index') }}">Events</a>
                </li>
        </ul>
        <ul class="navbar-nav">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('edit_profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>

<!-- jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
